@model Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="mt-5">
    <div class="container">

        <h3 class="d-inline-block position-relative text-body text-uppercase pb-4">Yeni Kategori Girişi</h3>
        <br />
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>
            <label>Kategori Adı</label>
            <input type="text" asp-for="CategoryName" class="form-control" style="border:1px solid #2222" />
            <br />

            <label>Kategori Açıklaması</label>
            <input type="text" asp-for="CategoryDescription" class="form-control" style="border:1px solid #2222" />
            <br />

            <label>Kategori Resmi</label>
            <div class="input-group mb-3">
                <input type="file" name="imageFile" id="imageFile" class="form-control" />
            </div>

            <button class="btn btn-primary">Kategoriyi Kaydet</button>
        </form>
    </div>
</div>



