@model List<Category>

<section class="w3l-witemshny-main py-5">
    <div class="container py-md-4">
        <!--/row-1-->
        <!--//row-1-->
            <div class="heading text-center mx-auto">
                <h3 class="title-w3l mb-3">Kategoriler</h3>
            </div>

        <div class="witemshny-grids row mx-auto align-items-center">
            @foreach (var item in Model)
            {
                <div class="col-xl-2 col-md-4 col-6 product-incfhny mt-4">
                    <div class="weitemshny-grid oposition-relative">
                        <a href="/Product/ProductDetails/@item.CategoryId" class="d-block zoom" width="80" height="80"><img src="/img/@item.CategoryImage" alt="" class="img-fluid news-image"></a>
                        <div class="witemshny-inf">
                        </div>
                    </div>
                    <h4 class="gdnhy-1 mt-4 mb-5">
                        <a href="#img" class="text-center">@item.CategoryName</a>
                    </h4>
                </div>

            }
        </div>

    </div>
</section>
